body {
    background-image: url("/darwin-boaventura-drE5y2rQdgg-unsplash.jpg");
    background-size: cover;
    font-family: BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    text-shadow: 0 0 3px black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 3px black;
}

p {
    text-shadow: 0 0 3px black;
    margin-bottom: 30px;
}
#btn {
    margin:0 30px 5px 30px;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 250px;
    border-radius: 5px;
}

#increment-btn {
    background: #8E3232;
}

#save-btn {
    background: #346341;
}

#hero {
    background: rgba(0, 0, 0, 0.4);
    max-width: 900px;
    margin: auto;
    border-radius: 5px;

}